<md-card>
    <md-card-title>Liste des CVs</md-card-title>
    <md-card-subtitle>Choix des spés</md-card-subtitle>   
    <md-card-content>
        <div *ngFor="let spe of speOptions; let i = index" style="display: inline">
            <md-checkbox [checked]="checkBoxSpe[i]" (change)="updateCheckedOptions(i, $event)">
                {{spe}}
            </md-checkbox>
        </div>
        <br>
        <br>
        <button md-raised-button color="primary" (click)="downloadResumes()">DOWNLOAD CVs</button>
    </md-card-content>
</md-card>

<div *ngFor="let resume of (resumes | async | myfilterResume: checkedOptions())">
    <md-card>
        <md-card-title>{{resume.spe}}</md-card-title>
        <md-card-subtitle>{{resume.name}} {{resume.surname}}</md-card-subtitle>   
        <md-card-content>
            <md-input placeholder="Email" value="{{resume.email}}" #email style="width: 100%" type="email" disabled></md-input>
            <md-input placeholder="Téléphone" value="{{resume.phoneNumber}}" #phoneNumber id="phoneNumber" style="width: 100%" disabled ></md-input>
            <md-input placeholder="Année" value="{{resume.year}}" #year id="year" style="width: 100%" disabled ></md-input>
        </md-card-content>
        <md-card-actions>
            <button md-button (click)="openResume(resume.urlResume)">AFFICHER CV</button>
        </md-card-actions>
    </md-card> 
</div>