.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-sidenav-filler {
  flex: 1;
}

.full_height {
  height: 100%;
}

.custom_width {
  width: 200px;
  background: #bdbdbd;
}

.buttonSidenav {
  width: 100%;
  color: #000000;
  background-color: #9b9b9b;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSidenav:hover, .buttonSidenav:active {
  background-color: #b9b9b9;
}
