<md-card layout="column" layout-align="center center"  style="min-height: 500px">
    <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab>
            <template md-tab-label>
                JEUDI 6 AVRIL
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                VENDREDI 7 AVRIL
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                SAMEDI 8 AVRIL
            </template>
        </md-tab>
    </md-tab-group>
   <md-card-content>
        <md-list *ngFor="let schedule of schedules[selectedIndex]">
            <md-list-item> {{schedule.timeTable}} - {{schedule.description}} </md-list-item>
        </md-list>
   </md-card-content>
</md-card>