<md-card layout="column" layout-align="center center">
    <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab>
            <template md-tab-label>
                JEUDI 6 AVRIL
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                VENDREDI 7 AVRIL
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                SAMEDI 8 AVRIL
            </template>
        </md-tab>
    </md-tab-group>
</md-card>
<div *ngFor="let schedule of schedules[selectedIndex]">
    <md-card>
        <md-card-header>
            <md-card-title>{{schedule.timeTable }}</md-card-title>
            <md-card-subtitle>{{schedule.description}}</md-card-subtitle>
        </md-card-header>
    </md-card>
</div>