<md-card>
  <form role="form" (submit)="onSubmit($event, name.value, familyName.value, phoneNumber.value, email.value, spe.value)">
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <md-input placeholder="Prénom" #name style="width: 100%" ></md-input>
        </td>
        <td>
          <md-input placeholder="Nom" #familyName style="width: 100%"  ></md-input>
        </td>
      </tr>
      <tr>
        <td>
          <md-input placeholder="Email" #email style="width: 100%" ></md-input>
        </td>
        <td>
            <md-input placeholder="Téléphone" #phoneNumber id="phoneNumber" style="width: 100%" ></md-input>
        </td>
      </tr>
      <tr>
          <td>  
            <md-select placeholder="Spé" #spe [(ngModel)]="selectedValue" name="spe">
                <md-option *ngFor="let option of speOptions" [value]="option">
                    {{option}}
                </md-option>
            </md-select>
        </td>
          <td>
            <br>
            <input type="file" id="filebutton" value="upload" #filebtn (change)="filebuttoni($event)" class="inputfile">            
            <label for="filebutton" md-raised-button color="primary">UPLOAD TON CV</label>
          </td>
      </tr>
    </table>
    <br>
    <div *ngIf="progress_bar !== 0">
        <md-progress-bar mode="determinate" value="{{progress_bar}}"></md-progress-bar> {{progress_bar}}%
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="warn" style="float: right" type="submit">
            SEND IT
        </button>
    </md-card-actions>
  </form>
</md-card>