<md-card>
  <form role="form" (submit)="onSubmit($event, name.value, familyName.value, phoneNumber.value, email.value, spe.value, year.value)">
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <md-input placeholder="Prénom" #name style="width: 98%" required></md-input>
        </td>
        <td>
          <md-input placeholder="Nom" #familyName style="width: 98%" required></md-input>
        </td>
      </tr>
      <tr>
        <td>
          <md-input placeholder="Email" #email style="width: 98%" type="email" (change)="emailUpdated($event)" required>
            <md-hint *ngIf="emailAlreadyPresent" [ngStyle]="{'color': 'red'}" align="start">Email already present!</md-hint>
          </md-input>
        </td>
        <td>
          <md-input placeholder="Téléphone" #phoneNumber id="phoneNumber" style="width: 98%"></md-input>
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Année" #year [(ngModel)]="selectedValueYear" name="year" required>
            <md-option *ngFor="let year of years" [value]="year">
              {{year}}
            </md-option>
          </md-select>
          <md-select placeholder="Spé" #spe [(ngModel)]="selectedValueSpe" name="spe" required>
            <md-option *ngFor="let option of speOptions" [value]="option">
              {{option}}
            </md-option>
          </md-select>
        </td>
        <td>
          <br>
          <input type="file" id="filebutton" value="upload" #filebtn (change)="filebuttoni($event)" class="inputfile" accept=".pdf">
          <label for="filebutton" md-raised-button color="primary">UPLOAD TON CV</label>
        </td>
      </tr>
      <br>
      <md-checkbox [checked]="conditionChecked" (change)="conditionChecked = $event.checked">
        J'accepte les <a href="https://firebase.google.com/terms/" target="_blank">termes</a>.
      </md-checkbox>
    </table>
    <br>
    <div *ngIf="progress_bar !== -1">
      <md-progress-bar mode="determinate" value="{{progress_bar}}"></md-progress-bar> {{progress_bar}}%
    </div>
    <md-card-actions layout="row" layout-align="end center">
      <button md-raised-button color="warn" style="float: right" type="submit" [disabled]="progress_bar == -1 || !conditionChecked || emailAlreadyPresent">
            SEND IT
        </button>
    </md-card-actions>
  </form>
</md-card>